@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap');

html, body {
    height: 100%;
    font-family: 'Roboto',sans-serif;
    color: #000000;
    margin: 0;
}

.credits {
    font-size: 10px;
    color: #808080;
}

p {
text-align: justify;
}

h2 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

sup {
    font-family: 'Roboto',sans-serif;
    color: #808080;
}

.space {
    padding-bottom: 24px;
}

#partner1, #partner2 {
    text-align: center;
}

#copy {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

/*  film posters not aligning properly due to varying heights*/

.poster1 {
    min-height: 620px;
}

.poster2 {
    min-height: 630px;
}

.poster3 {
    min-height: 645px;
}

#schedule {
    padding-top: 24px;
    padding-bottom: 24px;
}

#register {
    background-color: lightblue;
}

.social {
    margin-top: 12px;
    margin-bottom: 12px;
}

#social {
    text-align: center;
}

#footer, .menu-list {
    background-color:#292B2C ;
}

#address, #ref {
    color: #FFFFFF;
}

.address {
    text-align: left;
}

.bottom {
 text-align: left;
 color: #FFFFFF;   
}